@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: 100rem;
  margin: 0 auto;
  font-size: 1.6rem;
  color: aliceblue;
  background-color: rgb(20, 27, 43);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}


/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10%;
  box-shadow: 6px -2px 14px #4c4c4c;
  -webkit-box-shadow: 6px -2px 14px #4c4c4c;

  position: sticky;
  z-index: 9999999 !important;
  top: 0;
}

header:hover {
  box-shadow: rgba(62, 133, 192, 0.534) 0px 25px 50px -12px;
}

header>a {
  font-size: 2.8rem;
  font-weight: 700;
}

header nav ul {
  display: flex;
  gap: 0.7rem;
}

header nav ul li {
  margin-left: 2.7rem;
}

header nav ul li a {
  font-size: 1.8rem;
  font-weight: 500;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 5rem 10%;
  z-index: -1;
}

.sec3 {
  padding: 5rem 10%;
  z-index: -1;
}

footer {
  text-align: center;
  padding: 2.1rem 10%;
  background-color: cadetblue;
}

footer small {
  border: solid 1px rgb(186, 92, 205);
}